body{
    background-color: black;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: smaller;
    font-family: 'Roboto', sans-serif;
}

.box1{
    width: 600px;
    height: 800px;
    background-color: white;
    margin-top: 75px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top: 10px;
    align-items: center;
}

header{
    display: flex;
    margin-bottom: 0;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
}

footer{
    margin: 5px;
    margin-top: 20px;
}

.capsule, .goku, .textoHeader{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.goku{
    margin-left: auto;
}

.textoHeader{
    width: 60px;
    height: 60px;
    margin: 0;
    line-height: 1;
    font-size:large;
}


.cuerpo{
    border: solid black;
    height: 550px;
    
}

.imagenGrande{
    width: 595px;
    height: 550px;
}

.iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meGusta, .chatIcono, .enviarIcono{
    margin-right: 10px;
}

.opcionesIcono{
    margin-left: auto;
}

.iconos img{
    width: 40px;
    height: 40px;
}


